@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Acumin Pro", sans-serif;
	color: #1c1c1c;
	background: #d9d7d7;
}

nav {
	position: fixed;
	top: 0;
	font-family: "Lato", sans-serif;
	background: #d9d7d7;
	width: 100%;
	padding: 10px 0;
	transition: top 0.5s;
	z-index: 10;
}

nav .menu {
	max-width: 1250px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
}

.checkbtn {
	display: none;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#check {
	display: none;
}

.title {
	font-size: 3rem;
	font-weight: 600;
}

.menu ul {
	display: inline-flex;

}

.menu ul li {
	list-style: none;
	margin-left: 10px;
	font-size: 18px;
}

.subtitle {
	font-size: 24px;
}

.menu .title a {
	text-decoration: none;
	color: #1c1c1c;
}

.menu ul li a {
	text-decoration: none;
	color: #1c1c1c;
	font-weight: 600;
	padding: 6px 12px;
}

.menu ul li span:hover {
	border-bottom: 5px solid #FF8C00;
}

.standard-link {
	text-decoration: none;
	border-bottom: 1px solid #FF8C00;
	color: #FF8C00;
}

.center {
	margin-top: 100px;
	padding: 50px 50px;
}

.intro-text {
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
}

.portfolio-gallery {
	position: relative;
	margin-left: auto;
  	margin-right: auto;
	width: 75%;
	/*padding-bottom: 56.25%;*/
}

.portfolio-img, .img-overlay {
	/*position: absolute;*/
	display: block;
  	height: auto;
  	width: 100%;
  	top: 0;
  	left: 0;
  	margin-bottom: 50px;
}

.portfolio-img {
	object-fit: cover;
}

.img-overlay {
	position: relative;
	background-color: black;
}

.portfolio-img:hover {
	opacity: 0.7;
}

.img-caption {
	position: absolute;
	margin: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    color:#fff;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
   	top: 50%;
   	z-index: 1;
}

.img-caption:hover ~ .portfolio-img {
	opacity: 0.7;
}

footer {
	/*left: 0;
	bottom: 0;*/
	margin-top: 100px;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}

hr {
	border-width: 0;
	height: 1px;
	background-color: gray;
	width: 95%;
	margin: 0 auto;
}

.footer-nav {
	padding: 20px 0;
	float: right;
	margin-right: 25px;
}

.footer-elem {
	padding: 0 5px;
}

a {
	text-decoration: none;
	color: #1c1c1c;
}

@media all and (max-width: 800px) {
  .title {
  	text-align: left;
  	float: left;
  }
  .title {
  	font-size: 2rem;
  }
  .subtitle {
  	font-size: 1rem;
  }
  .checkbtn {
  	/*position: absolute;
  	right: 0;*/
  	display: block;
  	font-size: 2rem;
	color: black;
	float: right;
	line-height: 80px;
	margin-right: 20px;
	cursor: pointer;
	user-select: none;
  }
  nav {
  	background: #c2c0c0;
  }
  .menu ul {
  	display: none;
  	height: 100%;
  }
  span:hover, span.active {
	border-bottom: 5px solid #FF8C00;
  }
  input[type="checkbox"]:checked ~ ul {
  	display: block;
  	width: 100%;
  }
  input[type="checkbox"]:checked ~ ul>li {
  	padding: 20px 10px;
  	text-align: center;
  	flex-direction: column;
  }
}